html {
    background-image: url("https://picsum.photos/800/600/");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-position: center;
}

body {
    margin: 0;
}


nav {
    background: rgba(0, 0, 0, 0.8)
}

header nav ul li a {
    text-decoration: none;
    color: white;
    opacity: 1;
    font-family: sans-serif;
}

header nav ul {
    display: block;
    text-align: right;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;

}

header nav ul li {
    display: inline-block;
    margin-right: 20px;

}